@model SalesSystem.System.MVC.Models.ViewModels.SalesRecordViewModel

@{
    ViewData["Title"] = "Sale Details";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="panel panel-body">
    <div>
        <h4>SalesRecord</h4>
        <hr />

        <partial name="PartialViews/_sales_delete_details" />

    </div>
    <div>
        <a asp-controller="SalesRecords" asp-action="Edit" asp-route-id="@Model.Id"
           class="btn btn-success">Edit</a>
        <a asp-controller="SalesRecords" asp-action="Index" class="btn btn-warning">Back</a>
    </div>
</div>

